{% extends "base.html" %}

{% block description %}Expressions du site Amoul Solo{% endblock %}
{% block body %}

 <table class="ink-table alternating hover">
  <thead>
   <tr>
    <th>Fran&ccedil;ais</th>
    <th>Wolof</th>
   </tr>
  </thead>
  <tbody>
  {% for exp in expressions %}
   <tr>
    <td><a href="/expression/{{ exp.key.id }}">{{ exp.francais }}</a></td>
    <td>{{ exp.wolof }}</td>
   </tr>
  {% endfor %}
  </tbody>
 </table>

{% if admin %}
 <form action="/addExpression" method="post">
  <table class="form">
   <tr>
    <td><label>Francais :</label></td>
    <td><input name="francais" value=""/></td>
    <td>&nbsp;</td>
    <td><label>Wolof :</label></td>
    <td><input name="wolof" value=""/></td>
    <td><input class="submit" type="submit" value="Ajouter"/></td>
   </tr>
  </table>
 </form>
{% endif %}

{% endblock %}
