{% extends "base.html" %}

{% block description %}Mesures de trucs{% endblock %}

{% block js %}
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Date', 'valeur'],
  {% for mesure in mesures %}
          ['{{ mesure.jour|date:"d/m/y" }}',  {{ mesure.get_conso }}],
  {% endfor %}
        ]);

        var options = {
          title: 'Evolution {{ type }} sur {{ annee }}',
          {% if type == 'E' %}
          vAxis: {minValue: 0, maxValue: 20},
          {% else %}
          vAxis: {minValue: 0, maxValue: 10},
          {% endif %}
          legend: {position: 'none'}
        };

        var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>
{% endblock %}

{% block body %}

<div id="myTabs" class="ink-tabs top">
    <ul class="tabs-nav">
        <li><a class="tabs-tab" href="#chart">Courbe</a></li>
        <li><a class="tabs-tab" href="#table">Tableau</a></li>
    </ul>

    <div id="chart" class="tabs-content">
        <div id="chart_div" style="width: 1000px; height: 490px;"></div>
    </div>

    <div id="table" class="tabs-content">

 <table class="ink-table alternating hover">
  <thead>
   <tr>
    <th>Jour</th>
    <th>Type</th>
    <th>Valeur</th>
    <th>Conso.</th>
    <th>Nb jours</th>
   </tr>
  </thead>
  <tbody>
  {% for mesure in mesures %}
   <tr>
    <td align="center">{{ mesure.jour|date:"j/m/y" }}</td>
    <td align="center">{{ mesure.type }}</td>
    <td align="right">{{ mesure.valeur }}</td>
    <td align="right">{{ mesure.conso }}</td>
    <td align="right">{{ mesure.nb_jours }}</td>
   </tr>
  {% endfor %}
  </tbody>
 </table>

 <p>
 {% if type == 'E' %}
  <a href="/computeMesures?t=E">Compute E</a>
 {% else %}
  <a href="/computeMesures?t=G">Compute G</a>
 {% endif %}
 </p>

{% if admin %}
 <form action="/addMesure" method="post">
  <table class="form">
   <tr>
    <td><label>Mesure :</label></td>
    <td><input name="j" value="" size="2"/></td>
    <td><input name="m" value="" size="2"/></td>
    <td><input name="a" value="{{ annee }}" size="4"/></td>
    <td><input name="v" value="70000" size="4"/></td>
    <td>
      <select name="t">
       {% if type == 'E' %}
       <option selected>E</option>
       <option>G</option>
       {% else %}
       <option>E</option>
       <option selected>G</option>
       {% endif %}
      </select>
     </td>
    <td><input class="submit" type="submit" value="Ajouter"/></td>
   </tr>
  </table>
 </form>
{% endif %}

    </div>
</div>

{% endblock %}
