{% extends "base.html" %}

{% block description %}Mesures de trucs{% endblock %}

{% block js %}
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Date', 'valeur'],
  {% for mesure in mesures %}
          ['{{ mesure.jour|date:"d/m/y" }}',  {{ mesure.valeur }}],
  {% endfor %}
        ]);

        var options = {
          title: 'Evolution',
          legend: {position: 'none'}
        };

        var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>
{% endblock %}

{% block body %}

<div id="myTabs" class="ink-tabs top">
    <ul class="tabs-nav">
        <li><a class="tabs-tab" href="#chart">Courbe</a></li>
        <li><a class="tabs-tab" href="#table">Tableau</a></li>
    </ul>

    <div id="chart" class="tabs-content">
        <div id="chart_div" style="width: 1000px; height: 500px;"></div>
    </div>

    <div id="table" class="tabs-content">

 <table class="ink-table alternating hover">
  <thead>
   <tr>
    <th>Jour</th>
    <th>Type</th>
    <th>Valeur</th>
   </tr>
  </thead>
  <tbody>
  {% for mesure in mesures %}
   <tr>
    <td align="center">{{ mesure.jour|date:"j/m/y" }}</td>
    <td align="center">{{ mesure.type }}</td>
    <td>{{ mesure.valeur }}</td>
   </tr>
  {% endfor %}
  </tbody>
 </table>

{% if admin %}
 <form action="/addMesure" method="post">
  <table class="form">
   <tr>
    <td><label>Mesure :</label></td>
    <td><input name="m" value="2012-02-30,5000"/></td>
    <td><input class="submit" type="submit" value="Ajouter"/></td>
   </tr>
  </table>
 </form>
{% endif %}

    </div>
</div>

{% endblock %}
